.interpunct {
  font-weight: bold;
  font-size: larger;
  line-height: 0;
}

.group.discover {
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 40%;
  font-size: 180px;
  /* font-weight: 500; */
  font-family: "Seaweed Script", cursive;
  /* pointer-events: none; */
  /* border: 2px solid; */
  color: transparent;
  background-image: linear-gradient(to top right, #71ffff, #526bf4);
  background-clip: text;
  background-color: lightseagreen;
}

.group.discover:hover {
  cursor: default;
}

.groups.container {
  margin-left: 20%;
  width: 80%;
  height: 94vh;
  margin-top: -40px;
  overflow: auto;
  /* border: 1px solid; */
}

.groups.group-container {
  display: flex;
  gap: 1em;
  width: 50%;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 8px 6px -2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* border: 1px solid red; */
}

/* .groups.group-container:hover {
  cursor: pointer;
}

.groupInfo-link:hover {
  cursor: default;
} */

.group.img-container {
  width: 16em;
  height: 10em;
  /* border: 1px solid blue; */
}

.group.img {
  width: 16em;
  height: 10em;
  border-radius: 5px;
}

.group.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 26em;
  height: 12em;
  /* border: 1px solid green; */
}

.group.name,
.group.location,
.group.about,
.group.numMembers {
  height: 1.5em;
  margin: 0;
  overflow: hidden;
  /* border: 1px solid; */
}

.group.location {
  color: goldenrod;
  filter: contrast(0.3);
}

.group.about {
  height: 3.5em;
}

.group.numMembers,
.group.about {
  color: beige;
  filter: contrast(0.3);
}

.groups.group-container {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms ease-out;
}

.groups.group-container.visible {
  /* transition: all 500ms ease; */
  transform: translateX(0%);
  opacity: 1;
}

/* .groupInfo.outter-container {
  margin: 0 auto;
  width: 60%;
  border-radius: 20px;
  border: 1px solid;
} */

/* .groupInfo.outter-container:hover {
  border-radius: 10%;
} */

.groupInfo.container {
  border: 1px solid lightgray;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.4);
  /* margin-left: -1%;
  width: 102%; */
  margin: 0 auto;
  width: 60%;
  min-height: 80vh;
  border-radius: 20px;
  transform-style: preserve-3d;
  transform: perspective(500px);
  transition: transform 500ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
}

.groupInfo.header {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  /* border-bottom: 1px solid lightgray; */
  height: 300px;
}

.groupInfo.img-container {
  width: 500px;
  height: 300px;
}

.groupInfo.img {
  width: 500px;
  height: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.groupInfo.details-container {
  /* border: 1px solid; */
  width: 30em;
}

.groupInfo.details-container-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 30em;
  height: 15em;
  /* border: 1px solid; */
}

.groupInfo.name,
.groupInfo.location,
.groupInfo.about,
.groupInfo.numMembers,
.groupInfo.organizer {
  height: 1.5em;
  margin: 0;
  /* border: 1px solid; */
}

.groupInfo.name {
  margin-top: 0.5em;
}

.groupInfo .fa-solid {
  text-align: center;
  width: 30px;
}

.groupInfo.button {
  position: relative;
  /* display: inline-block; */
  outline: 0;
  border: 0;
  background-image: linear-gradient(to top right, #e052a0, #f19041);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  z-index: 1;
}

.groupInfo.button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top right, #71ffff, #526bf4);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms linear;
}

.groupInfo.button:hover::after {
  opacity: 1;
}

.groupInfo.button:active::after {
  filter: brightness(1.2);
}

.groupInfo_navbar {
  /* width: 100vw; */
  height: 60px;
  /* position: fixed; */
  /* top: 0; */
  /* background-color: white; */
  /* z-index: 99; */
}

.groupInfo_navbar > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* list-style-type: none; */
  border-bottom: 1px solid lightgray;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1); */
  padding-bottom: 10px;
}

.groupInfo.about-span,
.groupInfo.events-span,
.groupInfo.new-event {
  font-weight: bold;
  transition: filter 200ms;
}

.groupInfo.about-span:hover,
.groupInfo.events-span:hover,
.groupInfo.new-event:hover {
  color: salmon;
  filter: brightness(1.2);
  cursor: pointer;
}

.groupInfo.about-span.active,
.groupInfo.events-span.active {
  color: salmon;
  transition: 0.2s;
  transform: translateY(2px);
}

.groupInfo.body {
  display: flex;
  /* border: 1px solid; */
}

.groupInfo.about-container {
  box-sizing: border-box;
  width: 55%;
  padding: 0 15px;
  /* height: inherit; */
  /* border: 1px solid; */
}

.groupInfo.events-container {
  box-sizing: border-box;
  width: 55%;
  height: 27em;
  padding: 0 15px;
  overflow-y: scroll;
  /* height: inherit; */
}

.groupInfo.events-container div {
  margin-left: 0;
  width: 100%;
  /* height: 100%; */
  transform: translateX(0%);
  opacity: 1;
}

.groupInfo.events-container .events.event-container {
  box-shadow: 0px 8px 6px -2px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.4);
  transition: transform 400ms;
}

.groupInfo.events-container .events.event-container:hover {
  transform: scale(0.98);
}

.groupInfo.members-container {
  box-sizing: border-box;
  margin-left: auto;
  width: 40%;
  padding: 0 15px;
  /* border: 1px solid; */
}
