.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  /* border: 1px solid red; */
  margin-top: -40px;
  padding: 100px 0;
  height: 94vh;
  overflow: auto;
}

.homepage-container > .header-container,
.homepage-container > .header-images,
.homepage-container > .body-description,
.homepage-container > .body-description > .body-links {
  display: flex;
  width: 70%;
  /* border: 1px solid; */
}

.homepage-container > .body-description {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage-container > .body-description > .body-links {
  width: 90%;
}

.homepage-container > .header-container > .header-left {
  width: 50%;
  /* border: 1px solid; */
}

.homepage-container h1 {
  font-size: 3em;
}

.homepage-container > .header-container > .header-right {
  width: 50%;
  /* border: 1px solid; */
}

.header-images > div,
.body-links > div {
  width: 32%;
  margin: 0 auto;
  /* border: 1px solid; */
}

.header-images > div img {
  width: 100%;
  border-radius: 10px;
}

.body-description > h2 {
  font-size: 2em;
}

.join-meetup {
  box-sizing: border-box;
  position: relative;
  outline: 0;
  border: 0;
  background-image: linear-gradient(to top right, #5de9d1, #007db7);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.join-meetup::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top right, #cd7df5, #9700a5);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms linear;
}

.join-meetup:hover::after {
  opacity: 1;
}

.join-meetup:active::after {
  filter: brightness(1.2);
}
