.interpunct {
  font-weight: bold;
  font-size: larger;
  line-height: 0;
}

.events.container {
  margin-left: 20%;
  width: 40%;
  /* border: 1px solid; */
}

.events.event-container {
  display: flex;
  gap: 1em;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  /* border: 1px solid red; */
}

.event.img-container {
  width: 16em;
  height: 10em;
  /* border: 1px solid blue; */
}

.event.img {
  width: 16em;
  height: 10em;
  border-radius: 5px;
}

.event.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 26em;
  height: 12em;
  /* border: 1px solid green; */
}

.event.name,
.event.startDate,
.event.group-name,
.event.numAttending {
  height: 1.5em;
  margin: 0;
  overflow: hidden;
  /* border: 1px solid; */
}

.event.startDate {
  color: goldenrod;
  filter: contrast(0.3);
  text-transform: uppercase;
}

.event.group-name {
  height: 3.5em;
}

.event.numAttending,
.event.group-name {
  color: beige;
  filter: contrast(0.3);
}

.events.event-container {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms ease-out;
}

.events.event-container.visible {
  /* transition: all 500ms ease; */
  transform: translateX(0%);
  opacity: 1;
}

.eventInfo.container {
  border: 1px solid lightgray;
  box-shadow: 8px 8px 6px -4px lightgray;
  margin-left: 20%;
  width: 60%;
  min-height: 80vh;
  border-radius: 20px;
}

.eventInfo.header {
  /* display: flex;
  justify-content: space-between; */
  border-bottom: 1px solid lightgray;
  height: fit-content;
  /* border: 2px solid; */
  padding-left: 5px;
}

.eventInfo.body {
  display: flex;
  /* justify-content: space-between; */
  height: 100%;
  border: 2px solid blue;
}

.eventInfo.body-left {
  /* display: flex;
  justify-content: space-between;
  height: 300px; */
  width: 60%;
  border: 2px solid red;
}

.eventInfo.body-right {
  /* display: flex;
  justify-content: space-between;
  height: 300px; */
  width: 40%;
  border: 2px solid yellow;
}

.eventInfo.img-container {
  box-sizing: border-box;
  width: 550px;
  height: 325px;
  border: 1px solid;
}

.eventInfo.img {
  width: 550px;
  height: 325px;
}

.eventInfo.details-container {
  /* border: 1px solid; */
  width: 30em;
}

.eventInfo.details-container-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30em;
  height: 15em;
  /* border: 1px solid; */
}

.eventInfo.name,
.eventInfo.startDate,
.eventInfo.description,
.eventInfo.numAttending,
.eventInfo.organizer {
  height: 1.5em;
  margin: 0;
  /* border: 1px solid; */
}

.eventInfo.startDate {
  margin-top: 0.5em;
}

.fa-solid,
.fa-regular {
  box-sizing: border-box;
  text-align: center;
  width: 30px;
}

.fa-regular {
  padding-left: 10px;
}

.eventInfo.button {
  position: relative;
  /* display: inline-block; */
  outline: 0;
  border: 0;
  background-image: linear-gradient(to top right, #e052a0, #f19041);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  z-index: 1;
}

.eventInfo.button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top right, #71ffff, #526bf4);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms linear;
}

.eventInfo.button:hover::after {
  opacity: 1;
}

.eventInfo.button:active::after {
  filter: brightness(1.2);
}

.eventInfo.description-container {
  box-sizing: border-box;
  width: 550px;
  padding-left: 5px;
  /* height: inherit; */
  border: 1px solid;
}

.eventInfo.attendees-container {
  box-sizing: border-box;
  width: 550px;
  padding-left: 5px;
  border: 1px solid;
}

.eventInfo.group {
  display: flex;
  border: 1px solid;
}

.eventInfo.group_img-container,
.groupInfo.group_img {
  width: 25%;
  border: 1px solid red;
}

.eventInfo.group_details {
  box-sizing: border-box;
  width: 75%;
  padding-left: 5%;
  border: 1px solid blue;
}

.eventInfo.venue {
  height: 300px;
  border: 1px solid green;
}

.eventInfo.venue-date,
.eventInfo.venue-location {
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  border: 1px solid orange;
}
