.login_signup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: height 500ms;
  transform: translate3d(0, 0, 0);
  background-color: white;
  animation: enter 300ms ease-in;
}

.login-modal {
  transition: all 500ms ease;
  transform: translateX(0%);
}

.login-modal_hidden {
  transition: all 500ms ease;
  transform: translateX(-100%);
  position: fixed;
}

.signup-modal {
  transition: all 500ms ease;
  transform: translateX(0%);
}

.signup-modal_hidden {
  transition: all 500ms ease;
  transform: translateX(100%);
  position: fixed;
}

.login-button,
.signup-button {
  box-sizing: border-box;
  position: relative;
  /* display: inline-block; */
  outline: 0;
  border: 0;
  background-image: linear-gradient(to top right, #e052a0, #f19041);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  /* width: 70px;
  height: 30px; */
  padding: 6px;
  z-index: 1;
}

.login-button::after,
.signup-button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top right, #71ffff, #526bf4);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms linear;
}

.login-button:hover::after,
.signup-button:hover::after {
  opacity: 1;
}

.login-button:active::after,
.signup-button:active::after {
  filter: brightness(1.2);
}

.exit-animation {
  animation: exit 300ms ease-out;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}
