.login_signup-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: height 500ms;
  transform: translate3d(0, 0, 0);
  background-color: white;
}

.login-modal {
  transition: all 500ms ease;
  transform: translateX(0%);
}

.login-modal_hidden {
  transition: all 500ms ease;
  transform: translateX(-100%);
  position: fixed;
}

.signup-modal {
  transition: all 500ms ease;
  transform: translateX(0%);
}

.signup-modal_hidden {
  transition: all 500ms ease;
  transform: translateX(100%);
  position: fixed;
}
