.navbar > ul {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 8px 6px -6px lightgray;
  padding-bottom: 10px;
}

.navlink {
  text-decoration: none;
  color: black;
}

.active {
  color: salmon;
}

.profile-button,
.logout-button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: salmon;
  border-radius: 10px;
}

.login-signup-li {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
