.navbar {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);

  /* background-color: white; */
  z-index: 99;
}

.navbar > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.25);
  padding-bottom: 1px;
}

#home-logo {
  display: inline-block;
  font-family: "Seaweed Script", cursive;
  font-size: 30px;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(to top right, #e052a0, #f19041);
  background-clip: text;
  background-color: lightseagreen;
  transform: rotate(-20deg) translateY(-10px);
}

.login-signup-li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.login-signup-li > a {
  font-weight: bold;
  transition: all 200ms;
}

.login-signup-li > a:hover {
  color: salmon;
  filter: brightness(1.2);
  cursor: pointer;
}

.login-signup-li > a.active {
  color: salmon;
}

.profile-button,
.logout-button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid gray;
  width: 175px;
  height: 250px;
}

.dropdown-menu > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 100%;
}

.dropdown-menu > div:not(:last-child) {
  border-bottom: 1px solid gray;
}
